<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="health.wd.com.open_imtwo"
    >
    <application>
        <activity
            android:name=".ui.activity.IMTwoActivity"></activity>
    </application>

</manifest>

