<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.health">

    <application>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SousuoAcitivity" />
        <activity android:name=".activity.ZsbdActivity"></activity>
        <activity android:name=".activity.wardActivity.SeachActivity" />
        <activity android:name=".activity.wardActivity.List_detailsActivity"></activity>
    </application>

</manifest>