<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.MyHome">

    <application>
        <activity android:name=".activity.MyUserActivity" />
        <activity android:name=".childactivity.MyUserRecordActivity" />
        <activity android:name=".childthreeactivity.AddRecordActivity" />
        <activity android:name=".childthreeactivity.UpdataRecordActivity" />
        <activity android:name=".childactivity.MyUserCollectActivity" />
        <activity android:name=".childactivity.MyUserWalletActivity" />
        <activity android:name=".childactivity.MyUserSuggestActivity" />
        <activity android:name=".childactivity.MyUserSetActivity"></activity>
    </application>

</manifest>